.info-popup .modal-dialog {
  width: 90% !important;
  max-width: 90% !important;
}
.info-window {
  display: flex;
}
.info-list {
  padding: 10px;
  margin-inline-end: 20px;
}

.p-editor-container .p-editor-content .ql-editor {
  border-left: 1px solid #eee;
}
