<div class="invoice">
  <a class="btn btn-icon btn-white btn-setting" (click)="showInvoiceBlock()">
    <i class="fa fa-cog"></i>
  </a>
  <a
    class="btn btn-icon btn-white btn-setting mt-3"
    (click)="invoiceSettings()"
  >
    <i class="fa fa-pen-to-square"></i>
  </a>
  <div class="invoice__wrapper">
    <div class="invoice__layout">
      <div class="invoice__content">
        <div
          ngResizable
          [rzHandles]="'e,w'"
          (rzStop)="onResizeStop($event, item)"
          cdkDrag
          cdkDragBoundary=".invoice__content"
          (cdkDragEnded)="dragEnd($event, item)"
          *ngFor="let item of invoice?.invoiceBlocks; let i = index"
          [class]="item.name"
          [ngStyle]="{
            padding: 10 + 'px',
            position: 'absolute',
            top: item?.styling?.y + 'px',
            left: item?.styling?.x + 'px',
            'background-color': item?.styling?.backgroundColor,
            color: item?.styling?.color,
            width: item?.styling?.width ? item?.styling?.width + 'px' : '',
            cursor: 'grab',
            border: '1px dashed #009ef7'
          }"
        >
          <ng-container *ngIf="item.id !== 'table'">
            <div
              class="w-100"
              [innerHtml]="
                invoice.invoiceBlocks[i].htmlContent | replaceKey | safeHtml
              "
            ></div>
          </ng-container>
          <ng-container *ngIf="item.id === 'table'">
            <table
              style="width: 100%; height: 100%"
              class="table table-striped table-dark table-hover mb-0"
            >
              <thead>
                <tr>
                  <th
                    *ngFor="
                      let key of invoice?.invoiceBlocks[i]?.selectedFields
                    "
                    scope="col"
                  >
                    {{ key }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td
                    *ngFor="
                      let key of invoice?.invoiceBlocks[i]?.selectedFields
                    "
                  >
                    test1
                  </td>
                </tr>
              </tbody>
            </table>
          </ng-container>
          <div class="invoice-builder__actions">
            <a class="btn btn-icon btn-sm" (click)="openStylingModal(item)">
              <i class="fa fa-cog"></i>
            </a>
            <a class="btn btn-icon btn-sm" (click)="openModalInfo(item)">
              <i class="fa fa-pen"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="invoice__save">
      <button class="btn btn-primary" (click)="SaveInvoice()">Save</button>
    </div>
  </div>
</div>
