<div class="invoice-builder" [class.active]="helpers.themeBlocks$ | async">
  <div
    class="invoice-builder__block"
    *ngFor="let block of invoice.invoiceBlocks"
  >
    <p *ngFor="let field of block.selectedFields">{{ field }}</p>
    <div
      class="invoice-builder__actions delete-option"
      *ngIf="block.id !== 'table'"
    >
      <a class="btn btn-icon btn-sm btn-red" (click)="removeBlock(block)">
        <i class="fa fa-trash"></i>
      </a>
    </div>
  </div>
  <a
    class="btn btn-icon invoice-builder__add btn-primary"
    (click)="addNewBlock()"
  >
    <i class="fa fa-plus"></i>
  </a>
</div>
